@import 'colors/one-dark.css';

* {
    border: none;
    border-radius: 0px;
  
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
   
    min-height: 0;
    padding: 0;
    margin: 0; 
}

window#waybar {
  background: alpha(@bg0, 0);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
}

tooltip {
  background: @bg0;
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background-color: @bg0;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 18px;
  border: 1px solid @bg1;
  color: @fg;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background-color: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#battery,
#pusleaudio,
#network,
#clock,
#bluetooth,
#backlight,
#custom-notification {
  background-color: @bg0;
  padding: 0 15px 0 15px;
  margin: 0 0 0 0px;
  border-radius: 50px;
  border: 1px solid @bg1;
}

#clock {
  color: @blue;
  margin: 0px 5px 0px 0px;
} 

#custom-notification {
  color: @fg;
}

#pulseaudio {
  color: @white;
  margin: 0px 0px 0px 5px;
}

#network {
  color: @blue;
}

#battery {
  color: @aqua;
  margin: 0px 5px 0px 0px;
}

#bluetooth {
  margin: 0px 0px;
  color: @fg;
}

#bluetooth.off {
  margin: 0px 0px;
  color: @fg;
}

#bluetooth.on {
  margin: 0px 6px;
  color: @aqua;
}

#bluetooth.connected {
  margin: 0px 6px;
  color: @aqua;
}

#backlight {
  color: @gray1
}
